# extra pip-based requirements to install
# which are not captured in conda-lock file
pyhc-core==0.0.6  # Core PyHC packages (installed first to prioritize package versions below)
git+https://github.com/nasa/Kamodo.git  # Not in pyhc-core
aacgmv2==2.6.3
apexpy==2.0.1
astroquery==0.4.7
ai.cs==1.0.7
ccdproc==2.4.2
cloudcatalog==1.0.0
geospacepy==0.2.2
gwcs==0.21.0
hapiplot==0.2.2
jupytext==1.16.4
smart_open[s3]
nbzip
ocbpy==0.2.1
pfsspy[performance]
pyEphem==9.99
pyForecastTools==1.1.1
pysat==3.2.1
speasy==1.4.0
solarmach==0.4.3
viresclient==0.12.0
