# HelioCloud base image packages
pyhc-core==0.0.6  # Core PyHC packages (installed first to prioritize package versions below)
git+https://github.com/nasa/Kamodo.git  # Not in pyhc-core
aacgmv2==2.6.3
apexpy==2.0.1
astroquery==0.4.7
ai.cs==1.0.7
ccdproc==2.4.2
cloudcatalog==1.0.0
geospacepy==0.2.2
gwcs==0.21.0
hapiplot==0.2.2
jupytext==1.16.4
smart_open[s3]
nbzip
ocbpy==0.2.1
pfsspy[performance]
pyEphem==9.99
pyForecastTools==1.1.1
pysat==3.2.1
speasy==1.4.0
solarmach==0.4.3
viresclient==0.12.0

# Survey Results Core Environment Requirements
# Total: 127 packages

# Common packages (32)
astropy
certifi
charset-normalizer
cycler
decorator
fonttools
idna
ipython
jedi
kiwisolver
matplotlib
matplotlib-inline
numpy
packaging
pandas
parso
platformdirs
prompt-toolkit
pyerfa
Pygments
pyparsing
python-dateutil
pytz
PyYAML
requests
six
tornado
traitlets
typing_extensions
urllib3
wcwidth
xarray

# DataFuse & SoftDev intersection (86)
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astropy-iers-data
attrs
Babel
beautifulsoup4
bleach
cffi
click
cloudpickle
colorama
comm
contourpy
dask
debugpy
defusedxml
executing
fastjsonschema
filelock
fqdn
fsspec
h5py
imageio
ipykernel
ipywidgets
isoduration
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyter-events
jupyterlab
jupyterlab_server
jupyterlab-widgets  # not in survey results but still added
locket
markdown-it-py
MarkupSafe
mdurl
mistune
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
overrides
pandocfilters
partd
pexpect
pluggy
psutil
ptyprocess
pure-eval
pycparser
python-json-logger
pyzmq
QtPy
referencing
rfc3339-validator
rfc3986-validator
rpds-py
scipy
Send2Trash
sniffio
soupsieve
stack-data
terminado
tinycss2
tomli
toolz
tqdm
types-python-dateutil
tzdata
uri-template
webencodings
webcolors
websocket-client
widgetsnbextension
zipp

# Moved from extended to core (9)
cdflib
jupyter
netCDF4
numba
Pillow
pytest
scikit-image
sunpy
zarr
