# extra pip-based requirements to install
# which are not captured in conda-lock file
pyhc-core==0.0.6  # Core PyHC packages (installed first to prioritize package versions below)
git+https://github.com/nasa/Kamodo.git  # Not in pyhc-core
aacgmv2==2.6.3
apexpy==2.0.1
astroquery==0.4.7
ai.cs==1.0.7
ccdproc==2.4.2
cloudcatalog==1.0.0
geospacepy==0.2.2
gwcs==0.21.0
hapiplot==0.2.2
jupytext==1.16.4
smart_open[s3]
nbzip
ocbpy==0.2.1
pfsspy[performance]
pyEphem==9.99
pyForecastTools==1.1.1
pysat==3.2.1
speasy==1.4.0
solarmach==0.4.3
viresclient==0.12.0

# Survey Results Extended Environment Requirements
# Includes all Core packages + specialized tools
# Total: 190 packages

# All "Core" Survey Environment packages (127)
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astropy
astropy-iers-data
attrs
Babel
beautifulsoup4
bleach
cdflib
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
cycler
dask
debugpy
decorator
defusedxml
executing
fastjsonschema
filelock
fonttools
fqdn
fsspec
h5py
idna
imageio
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter_client
jupyter_core
jupyter-events
jupyterlab
jupyterlab_server
jupyterlab-widgets
kiwisolver
locket
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
nbclient
nbconvert
nbformat
nest-asyncio
netCDF4
networkx
notebook
notebook_shim
numba
numpy
overrides
packaging
pandas
pandocfilters
parso
partd
pexpect
Pillow
platformdirs
pluggy
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
pyerfa
Pygments
pyparsing
pytest
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scikit-image
scipy
Send2Trash
six
sniffio
soupsieve
stack-data
sunpy
terminado
tinycss2
tomli
toolz
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webencodings
webcolors
websocket-client
widgetsnbextension
xarray
zarr
zipp

# Additional SoftDev & DataProc packages (29)
alabaster
asciitree
chardet
cryptography
dill
docutils
fasteners
future
greenlet
imagesize
iniconfig
jupyter-console
lazy_loader
llvmlite
mpmath
numcodecs
prometheus-client
qtconsole
snowballstemmer
sortedcontainers
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
tifffile

# Additional DataFuse & DataProc packages (34)
aioftp
aiohttp
aiosignal
async-lru
async-timeout
Brotli
cached-property
cftime
drms
exceptiongroup
frozenlist
importlib-metadata
isodate
joblib
jupyter-lsp
jupyter_server
jupyter_server_terminals
lxml
msgpack
multidict
munkres
numexpr
parfive
pickleshare
py-cpuinfo
PyQt5
PyQt5-sip
PySocks
PyWavelets
requests-file
requests-toolbelt
tables
yarl
zeep
